---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
	<section class="flex w-full flex-col items-center justify-center">
		<h1 class="text-center text-5xl font-bold text-red-600">
			404 Pagina no encontrada
		</h1>

		<br />

		<a
			href="/"
			class="w-auto rounded-lg bg-slate-700 p-3 transition hover:bg-red-600 hover:text-black"
			>Volver al inicio</a
		>
	</section>
</Layout>
