---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>SpaceX Launches</h1>

		<h2 class="text-6xl text-red-600">min 44:00</h2>
	</main>
</Layout>
