---
import Layout from '../layouts/Layout.astro'
import Launches from '../components/Launches.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="mb-5 p-4 text-center text-5xl text-red-600">SpaceX Launches</h1>

		<!-- <h2 class="text-6xl text-red-600">min 1:00:00</h2> -->

		<Launches />
	</main>
</Layout>
