---
import { type APISpaceXResponse } from '../types/api'

const resp = await fetch('https://api.spacexdata.com/v5/launches/query', {
	method: 'POST',
	headers: {
		'Content-Type': 'application/json'
	},
	body: JSON.stringify({
		query: {},
		options: {
			sort: {
				date_unix: 'asc'
			},
			limit: 12
		}
	})
})

const { docs: launches } = (await resp.json()) as APISpaceXResponse
---

<div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
	{
		launches.map((launch) => (
			<article>
				<img src={launch.links.patch.small} alt="" />
				<h2>{launch.id}</h2>
			</article>
		))
	}
</div>
